.site-header {
    position: relative;
    z-index: 1000;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #940000;
    color: #E2B122;
}

.site-header a {
    color: #E2B122;
    text-decoration: none;
}

.site-header a[href^="tel"] {
    display: block;
    padding-bottom: 3px;
    border-bottom: 1px solid #E2B122;
    color: inherit;
    background-color: #940000; 
    text-decoration: none;
    text-shadow: none;
    background-image: none;
}

.site-header a[href^="tel"]:before {
    content: "\260e";
    margin-right: 0.5em;
  }

.site-logo {
    display: block;
    width: 140px;
    margin: 0;
}

.site-navbar {
    margin-top: .5rem;
    background-color: #ddd;
}

.site-navbar ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.site-navbar-item {
    display: block;
    width: 25%;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.site-navbar-item:not(:first-child) a {
    border-left: 1px solid #bbb;
}

.site-navbar-item:not(:first-child) a.active {
    border-left: 1px solid #6b0101;
}

.site-navbar-item:hover:not(:first-child) a {
    border-left: 1px solid #333;
}

.site-navbar-item:not(:last-child) a {
    border-right: 1px solid #eee;
}

.site-navbar-item:hover:not(:last-child) a {
    border-right: 1px solid #333;
}

.site-navbar-item:not(:last-child) a.active {
    border-right: 1px solid #6b0101;
}

.site-navbar-item a {
    display: block;
    background-color: transparent;
    padding: 1rem 2rem;
    text-align: center;
    color: #333;
    transition: all .2s ease-in-out;
}

.site-navbar-item:hover a {
    color: #E2B122;
    background-color: #444;
}

.site-navbar-item a.active {
    background-color: #6b0101;
    color: #E2B122;
}

.site-navbar-item small {
    display: block;
    margin-bottom: 0;
    line-height: 1.1;
    font-size: 10px;
}

.site-sidebar .site-navbar {
   height: 100%;
   margin: 0;
}

.site-sidebar .site-navbar ul {
    margin: 0;
    width: 100%;
    flex-direction: column;
}

.site-sidebar .site-navbar-item {
    width: 100%;
    border-left: none;
    border-right: none;
}

.site-sidebar .site-navbar-item:not(:last-child) {
    border-bottom:1px solid #eee;
}

.site-sidebar .site-navbar-item:not(:first-child) {
    border-top:1px solid #bbb;
}

@media(min-width: 576px) {
    .site-logo {
        width: 250px;
    }
}

@media(min-width: 992px) {
    .site-header {
        padding-bottom: 0;
    }
}