.nav-toggle {
    position: relative;
    width: 44px;
    height: 44px;
    border: 0;
    outline: 0;
    background-color:transparent;
    cursor: pointer;
    overflow: hidden;
}

.nav-toggle span {
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    background-color: #E2B122;
}

.nav-toggle span:before, .nav-toggle span:after {
    display: block;
    position: relative;
    content: '';
    width: 30px;
    height: 4px;
    background-color: #E2B122;
    transition: all .3s;
}

.nav-toggle span:before {
    top: -8px;
}

.nav-toggle span:after {
    top: 4px;
}

.site-container.site-container--nav-on span {
    left: -44px;
}

.site-container.site-container--nav-on span:before {
    left: 66px;
    top: 2px;
    transform: rotate(45deg);
}

.site-container.site-container--nav-on span:after {
    left: 66px;
    top: -2px;
    transform: rotate(-45deg);
}